
@media (min-width:360px) and (max-width:720px){
    

*{
    
}
.bord-js-6px, nav ul li,.punkts li,.formPoisk form input[type='search'],
.resuLT,.reg form input, .Link a{
 
}
header{
    height: 500px;
   flex-direction: column;
   padding: 0;
width: 360PX !important;
position: relative;

}
.header-z-1{
    width: 100% !important;
  height: 100% !important;
  flex-direction: column;
  justify-content: center;
}
header .Logo{
 width: 100%;
 padding-left: 45px;
}
.Logo:hover .Logo-z-i-2{
  
   
}
.Logo hr{

}
.Logo-z-i-1{
    
}
.Logo-z-i-2{
  
}
.Logo span{
  
}
nav{
height: 400px !important;
width: 100% !important;


}
nav ul{
flex-direction: column;
height: 100% !important;
justify-content: space-around;
}

nav ul li{
    width: 70%;
    margin: 0;
}
/* ///////////////////////////////////////////////////// */

li:last-child{

}
.Punkt.Menu{

}
.Punkt.Menu img{


}
  /* //////////////////////////////////////////////////////////////// */
.menu{
    top:-600px;
    height: 1150px;
}
.menu.active{
    top:500px
}

.menuContains{
   flex-direction: column-reverse;
    padding: 0;
    align-items: center;
    height: 100%;
   
}
.menuContains.active{

}

.menuLess{
height:  550px;
flex-wrap: nowrap;
width: 70%;
margin: 0;
justify-content: space-evenly;

}
.kol-one{

}
.kol-one, .kol-two, .kol-tree{
    height: 30%;
    margin: 0;
}
.kol-tree{
margin: 0;
}

.punkts{
  font-size: 16px;
}
.punkts li:nth-child(1){
margin: 0;
}


.punkts li{
   
}

.hoverOne{
 
}
.hoverOne.hover1-act{
 
}
.hoverOne.hover1-act::before{
 
}
.hoverOne::before{
  
}

.formPoisk{
width: 70%;

}
.formPoisk form, .reg form{
   
    
}
.formPoisk form label{
    font-size: 16px !important; 
}
.formPoisk form input[type='search']{
    font-size: 16px !important; 
}
.resuLT{
  height: 250px;
}
.non_result{

}
.non_result .Text_res{
    font-size: 16px !important; 
}
.Text_res{

}


.reg{
    margin-bottom: 20px;
   height: 200px;
   width: 70%;
}
.reg-zag{

}
.reg .kol-one{
   height: 100%;
}






.Content{
 margin-top: 50px;

}
.Slaider{
    height: 500px;
}
.slaider_item{
    height: 500px;
    width: 100%;
    background-size: cover !important;
}

.Cont_blok{
    height: 800px;
    background: #0c0c0c;
 
    display: flex;
   flex-direction: column;
   
}
.Kards{
  
}


.card{
   width: 70%;
   height: 240px;
    }
    .card-item{
     width: 110%;
     height: 110%;
     left: -12px;
    top: -12px;
    }
    .card-item img{
     
    }
    .card-back{
        
    }
    .card-text{
        left: 12px;
        top: 12px;
        width: 90%;

        height: 90%;
        
    }
    .cardText{
        font-size: 16px;
    }

    .Text{
    padding: 0;
    height:1500px !important;
    }
    .TextBlok{
     width: 100%;
     margin-left: 5px;
     height: 270px;
    }
    .TextBlok hr{
      
    }
    .TextCont{
      margin-left: 5px;
      margin-right: 10px;
    }
    .TextCont h5{
       font-size: 20px;
    }
    
    .TextCont p{
        font-size: 16px;
        line-height: 1.6;
    }

    .Link{
        height: 85px;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       margin-bottom: 0 !important;
       align-items: center;
    }
    .Link a{
        width: 70%;
        text-align: center;
    }

footer{
    display: none;
}



















.slick-arrow{
    position: absolute;
    top:50%;
    z-index: 10;
    width: 50px;
    height:50px ;
    font-size: 0;
 background-color: rgb(249, 202, 36);
 background-image: none;
    border: none;
    user-select: none;
   display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

}
.slick-arrow::before{
    top: 50%;
 content: "";
 display: block;
 background-image: url(img/up-arrow-svgrepo-com.svg);
 background-repeat: no-repeat;
 background-position: center center;
margin: 0;
padding: 0;
 width:30px;
height:30px;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
left: 50px;
transform: rotate(-90deg);
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    right: 50px;
    transform: rotate(90deg);
}

}









