*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    position: relative;
}
.bord-js-6px, nav ul li,.punkts li,.formPoisk form input[type='search'],
.resuLT,.reg form input, .Link a{
    border:  3px solid rgb(249, 202, 36);
    border-radius: 6px;
}
header{
    height: 80px;
    width: 100%;
    
    display: flex;

    box-shadow: 0px 10px 6px black;
    z-index: 2;
    border-bottom: 5px solid rgb(0, 0, 0);
    padding: 0 40px;
    position: fixed;
    top: 0;
   

}
.header-z-1{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    z-index: 4;
}
header .Logo{
    width: 100px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 45px;
    align-items: center;
    /* font-family: 'Squada One', cursive; */
    font-family: 'Bebas Neue', cursive;
    margin: 5px;
    margin-top: 15px;
    z-index: 4;
}
.Logo:hover .Logo-z-i-2{
    /* margin-left: 125px; */
    margin-left: 146px;
   
}
.Logo hr{
   margin: 10px;
    border: 2px solid white;
    border-radius: 6px;
  height: 60%;
  margin-top: 5px;
}
.Logo-z-i-1{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Logo-z-i-2{
    font-family: 'Bebas Neue', cursive;
    background: black;
    position: absolute;
    margin-left:10px; 
    display: flex;
    padding: 2px;
    transition: margin 1s ease;
    z-index: 3;
}
.Logo span{
    font-size: 45px;
    color: rgb(249, 202, 36);
    /* font-family: 'Squada One', cursive; */
    font-family: 'Bebas Neue', cursive;
    height: 100%;
}
nav{
height: 100%;
z-index: 4;
}
nav ul{
display: flex;
flex-direction: row;
list-style: none;
height: 100%;
align-items: center;
}

nav ul li{
  margin-right: 20px;
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
  height:max-content;
  width: 140px;
  display: flex;
  position: relative;
 
  padding: 5px;
  justify-content: center;
}
/* ///////////////////////////////////////////////////// */

li:last-child{
    width: 50px;
}
.Punkt.Menu{
    
    z-index: -1;
}
.Punkt.Menu img{
 width: 30px;
 height: 30px;
 display: block;

}
  /* //////////////////////////////////////////////////////////////// */
.menu{
    display: flex;
    width: 100%;
    height: 550px;
    position: absolute;
    z-index: 3;
    background-color: black;
    box-shadow: 0 4px 10px;
    left: 0;
    top: -470px;
    flex-direction: column;
    justify-content: center;
    transition: top 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu.active{
    top: 0px;
   
}

.menuContains{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 80px 100px 0px 100px;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
}
.menuContains.active{
    opacity: 1;
   

}

.menuLess{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35%;
    margin-right: 25px;

}
.kol-one{
    margin-bottom: 10px;
}
.kol-one, .kol-two, .kol-tree{
    
   
    height: 42%;
}
.kol-tree{
    margin-left: 40px;
}

.punkts{
    display: flex;
    flex-direction: column;
    height:100%;
    color: white;
    font-size: 20px;
    justify-content: space-between;
    list-style: none;
}
.punkts li:nth-child(1){
border: none;
margin-bottom: 4px;
}


.punkts li{
    justify-content: space-between;
    
    padding: 5px;
    width: 100%;
    text-align: center;
}

.hoverOne{
    position: relative;
    color: white;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.hoverOne.hover1-act{
    color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
    user-select: none;
    cursor: pointer;
}
.hoverOne.hover1-act::before{
    left: 0%;
	right: auto;
	width: 100%;
}
.hoverOne::before{
    position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.formPoisk{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.formPoisk form, .reg form{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.formPoisk form label{
    color: white;
    font-size: 20px;
    margin: 5px 5px 5px 5px;
}
.formPoisk form input[type='search']{
    width: 100%;
    height: 40px;
   
    background-color: rgb(19, 19, 20);
    outline: none;
    padding: 0 10px;
    margin-top: 18px;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
}
.resuLT{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 15px;
}
.non_result{
width: 100%;
height: 40px;
display: flex;
background-color: #2f3640;
align-items: center;
text-align: center;
}
.non_result .Text_res{
width: 100%;
}
.Text_res{
    color: white;
    font-size: 20px;
}


.reg{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}
.reg-zag{
  
    font-weight: 500;
    margin: 5px;
    margin-bottom: 23px;
}
.reg .kol-one{
    height: 54%;
}


  /* //////////////////////////////////////////////////////////////// */


footer{
    height: 300px;
    background-color: black;
}
.Foot_Text{
color: white;
width: 25%;
margin-left: 30px;

}
.Foot_Text hr{
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.Foot_T{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 15px;
}
.Foot_Text nav ul{
  flex-direction: column;
  align-items: baseline;
} 
.Foot_Text nav ul li{
    border: none;
    font-size: 20px;
    justify-content: flex-start;
    padding-left: 0;
}


/* /////////////////////////////////////////////////////////////////////// */
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
    }
    
    ::-webkit-scrollbar-track {
    background-color:#000000
    }
    
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:rgb(249, 202, 36);
    }
    
    ::-webkit-scrollbar-thumb:hover{
    background-color:rgb(246, 229, 141);
    }
    
    ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
    }
    
    ::-webkit-scrollbar{
    width: 4px;
    }